.form {
	margin: 0 auto;
	display: flex;
	gap: 12px;
	max-width: 525px;
}

.circles {
	margin: 70px auto 0;
	padding: 0 120px;
	display: flex;
	justify-content: start;
	align-items: center;
	gap: 48px 16px;
	flex-wrap: wrap;
}
